style.
  body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  .main-table {
    background-color: #f4f4f4;
    width: 100%;
  }
  .container {
    background-color: #ffffff;
    width: 600px;
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
  }
  .header {
    background-color: #DB4444;
    padding: 20px 0;
    text-align: center;
  }
  .header h1 {
    color: #ffffff;
    margin: 0;
    font-size: 24px;
    line-height: 24px;
  }
  .body {
    padding: 30px;
  }
  .body h2 {
    color: #333333;
    text-align: center;
    font-size: 20px;
  }
  .body p {
    color: #555555;
    line-height: 1.6;

  }
  .center {
    text-align: center;
  }
  .btn {
    background-color: #DB4444;
    color: #ffffff !important;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin-top: 0px;
  }
  .footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: #888888;
  }
  .footer a {
    color: #888888;
    text-decoration: underline;
  }
