extends base

block content 
    tr
        td.body
            p 
                span.label Name: 
                span #{name}
            p 
                span.label Email: 
                span #{email}
            p 
                span.label Phone: 
                span #{phone}
            p 
                span.label Message: 
                span #{message}
            
            
                