extends base

block content 
    tr
        td.body
            h2 #{subject}
            p Reset your password using the link below. If you didn't request a password reset, please ignore this email.
            p.center
                a.btn(href=`${url}`, target='_blank') Reset password